<h2><%= t "devise.invitations.edit.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :invitation_token, readonly: true %>

  <% if f.object.class.require_password_on_accepting %>

    <div class='field form-group'>
      <%= f.label :avatar %>
      <%= f.file_field :avatar, accept:'image/*', direct_upload: true%>
    </div>

    <div class="field form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, required: true, class:'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, required: true, id: 'password', class:'form-control'  %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, required: true, oninput: "check(this)", class:'form-control'  %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t("devise.invitations.edit.submit_button") %>
  </div>
<% end %>
