<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>User id</th>
      <th>Plan</th>
      <th>Amount</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.user_id %></td>
        <td><%= transaction.subscription.plan.name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
