<%= form_with(model: [@plan, @plan.features.build]) do |form| %>
  <div class="row">
    <div class="field form-group col">
      <%= form.text_field :name, required: true, placeholder: 'Name', class:'form-control' %>
    </div>

    <div class="field form-group col">
      <%= form.number_field :unit_price, required: true, placeholder: 'Unit price', class:'form-control' %>
    </div>

    <div class="field form-group col">
      <%= form.number_field :max_unit_limit, required: true, placeholder: 'Max units limit', class:'form-control' %>
    </div>

    <div class="actions col">
      <%= form.submit 'Add feature', class:'btn btn-secondary'%>
    </div>

    <div class="field form-group">
      <%= form.hidden_field :plan_id, value: @plan.id %>
    </div>
  </div>
<% end %>
