<h1>Features</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit price</th>
      <th>Max unit limit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% features.each do |feature| %>
      <tr>
        <td><%= feature.name %></td>
        <td><%= feature.unit_price %></td>
        <td><%= feature.max_unit_limit %></td>
        <td><%= link_to 'Show', plan_feature_path(feature.id, plan_id: @plan.id) %></td>
        <td><%= link_to 'Edit', edit_plan_feature_path(feature.id, plan_id: @plan.id) %></td>
        <td><%= link_to 'Destroy', plan_feature_path(feature.id, plan_id: @plan.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
